<html>
<head>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
	<script>
		$(document).ready(function () {
			$('#paypal_form').submit();
		});
	</script>
</head>
<body>
<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" id="paypal_form" method="post">
<input type="hidden" name="cmd" value="_donations">
<input type="hidden" name="business" value="spencer@68ministries.com">
<input type="hidden" name="item_name" value="{{ centername }}">
<input type="hidden" name="item_number" value="{{ reference }}">
<input type="hidden" name="page_style" value="primary">
<input type="hidden" name="cn" value="Childrens Ranch">
<input type="hidden" name="return" value="http://68ministries.org/thank-you/">
<input type="hidden" name="no_shipping" value="1">
<input type="hidden" name="amount" value="{{ amount }}">
<input type="hidden" name="no_note" value="0">

</form>
</body>
</html>