            {% if donate100_more = 0 %}
            <button type="button" class="btn btn-danger">
                $100 Completed - Thank you!!!!
            </button><br />
            {% else %}
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#donate100">
                Donate $100
            </button><br />
            {% endif %}
            {% if donate100_more > 0 %}
            ({{ donate100_more }} more donation{% if donate100_more > 1 %}s{% endif %} needed)
            {% endif %}
            <div class="progress" style="width: 70%">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{ donate100_percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ donate100_percent }}%;">
                    {% if donate100_count > 0 %}
                    {{ donate100_count }} donation{% if donate100_count > 1 %}s{% endif %}!
                    {% endif %}
                </div>
            </div>