            {% if donate25_more = 0 %}
            <button type="button" class="btn btn-danger">
                $25 Completed - Thank you!!!!
            </button><br />
            {% else %}
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#donate25">
                Donate $25
            </button><br />
            {% endif %}
            {% if donate25_more > 0 %}
            ({{ donate25_more }} more donation{% if donate25_more > 1 %}s{% endif %} needed)
            {% endif %}
            <div class="progress" style="width: 100%">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{ donate25_percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ donate25_percent }}%;">
                    {% if donate25_count > 0 %}
                    {{ donate25_count }} donation{% if donate25_count > 1 %}s{% endif %}!
                    {% endif %}
                </div>
            </div>