            {% if donate250_more = 0 %}
            <button type="button" class="btn btn-danger">
                $250 Completed - Thank you!!!!
            </button><br />
            {% else %}
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#donate250">
                Donate $250
            </button><br />
            {% endif %}
            {% if donate250_more > 0 %}
            ({{ donate250_more }} more donation{% if donate250_more > 1 %}s{% endif %} needed)
            {% endif %}
            <div class="progress" style="width: 60%">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{ donate250_percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ donate250_percent }}%;">
                    {% if donate250_count > 0 %}
                    {{ donate250_count }} donation{% if donate250_count > 1 %}s{% endif %}!
                    {% endif %}
                </div>
            </div>