            {% if donate5000_more = 0 %}
            <button type="button" class="btn btn-danger">
                $5000 Completed - Thank you!!!!
            </button><br />
            {% else %}
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#donate5000">
                Donate $5000
            </button><br />
            {% endif %}
            {% if donate5000_more > 0 %}
            ({{ donate5000_more }} more donation{% if donate5000_more > 1 %}s{% endif %} needed)
            {% endif %}
            <div class="progress" style="width: 10%">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{ donate5000_percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ donate5000_percent }}%;">
                    {% if donate5000_count > 0 %}
                    {{ donate5000_count }} donation{% if donate5000_count > 1 %}s{% endif %}!
                    {% endif %}
                </div>
            </div>